---
import Layout from '../layouts/Layout.astro';
// We will add the AnimatedHero component back in a later step
---

<Layout title="Amy Freesun | Portfolio">
	<main>
		<!-- The homepage content will go here -->
	</main>
</Layout>